<form [formGroup]="editForm">
    <div>
        <label>
            Name:
            <input type="text" formControlName="name">
        </label>
    </div>
    <div>
        <label>
            Description:
            <textarea formControlName="description" rows="4"></textarea>
        </label>
    </div>
    <div>
        <label>
            Genre:
            <input type="text" formControlName="genre">
        </label>
    </div>
    <button (click)="onUpdate()">Update Game</button>
</form>

